<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class='card-body'
       *ngIf="vehicles().length">

    <div class="flex-list">

      @for (vehicle of vehicles(); track vehicle.name) {
        <button type="button"
          class="list-group-item">
          {{ vehicle.name }}
        </button>
      }


    </div>
  </div>

  <div class="alert alert-danger"
       *ngIf="errorMessage">
    {{errorMessage }}
  </div>
</div>



<!--ng g @angular/core:control-flow-->
<!--ng new --no-standalone-->
